<ion-view>
    <form name="new_question_form" novalidate>
        <ion-nav-bar class="nav-title-slide-ios7">
            <ion-nav-title>
                <span>提交新问题</span>
            </ion-nav-title>
            <ion-nav-buttons side="left">
                <button class="button button-clear button-stable" ng-click="vm.close()">取消</button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-clear button-positive" ng-click="vm.doNewQuestion()" ng-disabled="new_question_form.$invalid">发送</button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content>
            <label class="item item-input item-floating-label">
                <input type="text" name="title" ng-model="vm.question.title" placeholder="标题（不超过50个字）" required autofocus>
            </label>
            <label class="item item-input item-floating-label">
                <textarea type="text" name="content" ng-model="vm.question.content" rows="7" placeholder="输入你的问题(不超过140个字)" required></textarea>
            </label>
            <label class="item item-input  item-floating-label">
                <input type="text" name="tags" ng-model="vm.question.tags" placeholder="标签">
            </label>
            <div class="item item-toggle">
                匿名
                <label class="toggle toggle-assertive">
                    <input type="checkbox" name="anonymous" ng-model="vm.question.anonymous">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </ion-content>
    </form>
</ion-view>

