<ion-list>
    <ion-item class="item item-avatar item-text-wrap ">
        <img src="{{question.replier.avatarUrl + '?size=75,75'}}">
        <h2>{{question.replier.name}}</h2>
        <button style="position:absolute; right:10px; top: 0px" class="button button-clear icon ion-ios-arrow-down" ng-click="showActionSheet(question.questionId)"></button>
        <p class="light">{{question.replier.headline}}</p>
        <p class="light">10分钟前更新</p>
    </ion-item>
    <div class="item item-text-wrap ">
        <h2 style="color: #3498db;" ui-sref="app.question.detail({questionID :question.questionId})">{{question.title}}</h2>
        <p class="subdued " ng-bind-html="getAnswerContent(question) | rawHtml"></p>
        <p>
            <a ng-if="isShowMore(question)" ng-click="showMore(question)" class="subdued">显示更多</a>
        </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="addLike(index, question.answerId)">
            <i class="icon ion-thumbsup" ng-class="isLiked(question.answerId) ? 'liked-answer' : ''"></i> {{question.totalRanks > 0 ? question.totalRanks : '喜欢'}}
        </a>
        <a class="tab-item" ng-click="viewComments(question.answerId)">
            <i class="icon ion-ios-chatboxes-outline"></i> {{question.totalComments > 0 ? question.totalComments : '评论'}}
        </a>
        <a class="tab-item">
            <i class="icon ion-share"></i> 分享
        </a>
    </div>
</ion-list>
